.grouping-selection {
 
}

.browser-default {
    width: auto;
    margin-right: 10px;
}

.column-1 {
    float: left;
    width: 150px;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }