.grouping-selection {
  margin-top: 50px;
  width:50%;
}

.table {
  margin-top: 50px;
  border: solid thin lightgray;
}

.table-head {
  border: solid thin darkgray;
}

.btn {
  margin-right: 3px;
  margin-bottom: 5px;
  float: left;
}

.landing {
  margin-bottom: 100px;
}